table {
  width: 100%;
  border-radius: 8px;
  max-width: 1440px;
  margin: 0 auto;
}
table th,
table td {
  padding: 10px 16px;
  border: 1px solid var(--grey-8, #ebebeb);
}
table th {
  color: var(--grey-64, #5d5d5f);
  font-size: var(--16);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 14px 16px;
}
table tr:nth-child(odd) {
  background: var(--Apple-Grey, #f5f5f7);
}
.strong {
  color: var(--Black, #020105);
  font-family: var(--medium);
  font-size: var(--14);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}
.weak {
  color: var(--grey-80, #353437);
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.status.active {
  color: var(--Green, #009a10);
  text-align: center;
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  border-radius: 62px;
  background: #d6efd9;
  padding: 6px 22px;
  max-width: 120px;
  margin: 0 auto;
}
.status.passive {
  background: #f4dce2;
  color: #bb2649;
  text-align: center;
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  border-radius: 62px;
  padding: 6px 22px;
  max-width: 120px;
  margin: 0 auto;
}
.status.waiting {
  text-align: center;
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  border-radius: 62px;
  padding: 6px 22px;
  max-width: max-content;
  border-radius: 62px;
  background: #fdefe2;
  margin: 0 auto;
  color: #f2994a;
}
.status.new {
  text-align: center;
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  border-radius: 62px;
  padding: 6px 22px;
  max-width: max-content;
  border-radius: 62px;
  background: #eff0f9;
  margin: 0 auto;
  color: #3c4bdc;
}
.num {
  color: var(--Agro-Blue, #3c4bdc);
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  border: 0;
  background: transparent;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .tabler {
    overflow: auto;
    margin-right: -24px;
    padding-right: 24px;
  }
  .tabler::-webkit-scrollbar {
    display: none;
  }
  .tabler {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  table {
    width: 100%;
    min-width: 1200px;
  }
  th {
    font-size: var(--14);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .strong {
    font-size: var(--12);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .weak,
  .link {
    font-size: var(--12);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
